body.Home {
    background-image: url('/images/emilia-home.jpg');
    background-size: 75% ; 
    background-repeat: no-repeat;
    background-position: right top;
}
/* .Home h1 {
    color: red;
} */
